
body {
    border-top: 4px solid #007897;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #283043;
    text-align: left;
}

.tel-skype{
    background-color: #fff;
    width: 100%;
    margin-left: 0px; 
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
}
.tel-skype p{
    padding-left: 0;
    padding-right: 10%;
}
strong { font-weight: 700; }
a:hover { text-decoration: none; }

.logo h2 { margin-top: 7px; padding-left: 50px; font-size: 28px; font-weight: 400; color: #555; text-transform: uppercase; }


.logo a {
    display: inline-block;
    width: 183px;
    height: 37px;
    margin-top: 10px;
    background: url(../img/logo.png) left top no-repeat;
    color: #555;
    text-indent: -9999px;
    text-decoration: none;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.logo a:hover { color: #007897; }


.tel-skype p {
    margin-top: 18px;
    text-align: right;
    line-height: 30px;
}

.tel-skype i {
    font-size: 20px;
    vertical-align: middle;
}

.tel-skype .pipe { margin: 0 7px 0 5px; color: #ccc; }

::-moz-selection { background: #007897; color: #fff; text-shadow: none; }
::selection { background: #007897; color: #fff; text-shadow: none; }


/***** Product Showcase / Coming Soon *****/

.product-showcase {
    margin: 0 auto;
    background: #2d2d2d;
}

.product-showcase-pattern {
    margin: 0 auto;	
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.about-us-2 p,h3,h5{
color: #283043;

}
.product-background {
    margin-top: 200px;
    padding-bottom: 40px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.7);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-background h1 {
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 40px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 58px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-description {
    padding-left: 50px;
    padding-right: 40px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-description-right {
    margin-top: 35px;
    padding-left: 0;
}

.timer {
    margin-top: 20px;
    padding-bottom: 30px;
}

.timer span {
    font-size: 40px;
}


.product-description form {
    margin-top: 20px;
    margin-bottom: 0;
}

.product-description form input {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 12px 15px;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #555;
}

.product-description form input:focus {
    border: 1px solid #fff;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

.product-description form input:-moz-placeholder { color: #555; }
.product-description form input:-ms-input-placeholder { color: #555; }
.product-description form input::-webkit-input-placeholder { color: #555; }

.product-description form button {
    margin-top: 10px;
    padding: 12px 25px;
    background: #007897;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #73a3a1;
    -moz-box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow:
        0 25px 35px 0 rgba(255,255,255,.15) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.product-description form button:hover {
    color: #fff;
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.1) inset,
        0 1px 5px 0 rgba(0,0,0,.2);
}

.product-description form button:active {
    -moz-box-shadow:
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    -webkit-box-shadow:
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);
    border: 0;
}



/***** Content *****/

.about-us-2 {
    margin-top: 40px;
}

.about-us-2 h3 {
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #283043;
    font-size: 36px;
    font-weight: 400;
	color: #007897
}

.about-us-2 h5 {
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.about-us-2 p {
    margin-left: 50px;
    margin-right: 40px;
    line-height: 30px;
}

/* Using this */
.using-this {
    margin-top: 35px;
    text-align: center;
}

.using-this h3 {
    margin: 0 40px 40px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
    text-align: left;
}

.using-this-container {
    text-align: center;
}

.using-this-container a {
    display: inline-block;
    width: 185px;
    height: 77px;
    margin: 5px;
    background: #f8f8f8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.using-this-container a.using-this-google { background-image: url(../img/clients/google.png); }
.using-this-container a.using-this-youtube { background-image: url(../img/clients/youtube.png); }
.using-this-container a.using-this-pinterest { background-image: url(../img/clients/pinterest.png); }

.using-this-container a.using-this-google:hover { background-image: url(../img/clients/google-hover.png); }
.using-this-container a.using-this-youtube:hover { background-image: url(../img/clients/youtube-hover.png); }
.using-this-container a.using-this-pinterest:hover { background-image: url(../img/clients/pinterest-hover.png); }



/***** Footer *****/

footer {
    margin-top: 60px;
    padding: 30px 0;
    background: #e3e9dc;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  
}

footer h3 {
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
   color: #007897; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

footer p { line-height: 30px; }

footer a {
    color: #283043;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
footer a:hover { color: #aaa; }

.from-twitter .show-tweet {
    margin-left: 50px;
}

.tweet_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
	
.tweet_list li {
    list-style-type: none;
    line-height: 30px;
}

.flickr-feed {
    margin: 17px 0 0 50px;
    overflow: hidden;
}

.flickr-feed li {
    float: left;
    padding: 0 5px 5px 0;
    list-style: none;
}

.flickr-feed li img {
    width: 58px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.flickr-feed a:hover {
    opacity: 0.7;
}

.contact-us form {
    margin: 17px 0 0 50px;
}

.contact-us p {
    margin-left: 50px;
    margin-right: 50px;
}

.contact-us form input, .contact-us form textarea {
    width: 75%;
    padding: 8px 15px;
    background: #524B4B;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

.contact-us form input:focus, .contact-us form textarea:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-us form button {
    margin: 2px 0 0 191px;
    padding: 7px 15px;
    background: #007897;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.contact-us form button:hover {
    background: #222;
    color: #aaa	;
}

.contact-us form input:-moz-placeholder { color: #aaa; }
.contact-us form input:-ms-input-placeholder { color: #aaa; }
.contact-us form input::-webkit-input-placeholder { color: #aaa; }

.social-links {
    margin: 0px 0px 0 50px;
}

.copyright {
    margin-top: 20px;
    text-align: center;
 border-top: 1px dotted #283043;

}

.icon-facebook-sign:before{content:"\f082";}
.icon-facebook:before{content:"\f09a";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-twitter-sign:before{content:"\f081";}
.icon-twitter:before{content:"\f099";}

/***** Media Queries *****/

@media (min-width: 980px) and (max-width: 1200px) {

    .timer span { font-size: 30px; }

    .flickr-feed li img { width: 48px; }

    .contact-us form button { margin-left: 138px; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .product-description form button { padding-left: 20px; padding-right: 20px; }

    .product-description form button:active { border: 1px solid transparent; }

    .timer span { font-size: 24px; }

    footer h3, .from-twitter .show-tweet, .flickr-feed, .contact-us form, .contact-us p { margin-left: 0; }

    .flickr-feed li img { width: 48px; }

    .contact-us p { margin-right: 0; }

    .contact-us form input, .contact-us form textarea { width: 87%; }

    .contact-us form button { margin-left: 149px; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo h2 { padding-left: 0; text-align: center; }

    .tel-skype p { margin-bottom: 11px; padding-right: 0; text-align: center; }

    .product-background { width: 90%; margin-top: 80px; margin-left: auto; margin-right: auto; text-align: center; }

    .product-background h1 { margin-top: 25px; }

    .product-description { padding-left: 40px; padding-right: 40px; }

    .product-description-right { margin-top: 0; }

    .product-description form button:active { border: 1px solid transparent; }

    .timer span { font-size: 40px; }

    .about-us-2 h3, .about-us-2 h5 { margin-left: 50px; margin-right: 50px; }

    .about-us-2 p { margin-left: 50px; margin-right: 50px; }

    .using-this { margin-top: 40px; }

    .using-this h3 { margin-left: 50px; margin-right: 50px; }

    footer { padding-top: 0; }

    footer h3 { margin-top: 40px; }

    footer h3, .from-twitter .show-tweet, .flickr-feed, .contact-us form, .contact-us p, .copyright p { margin-left: 50px; margin-right: 50px; }

    .contact-us form input, .contact-us form textarea { width: 87%; }

    .contact-us form button { margin-left: 0; }

    .social-links { margin-top: 45px; }

}

@media (max-width: 514px) {

    .product-description form input { width: 80%; }

}

@media (max-width: 480px) {

}

.icon-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block !important;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.icon-social.icon-facebook {
  background: #4f7dd4;
}
.icon-social.icon-facebook:hover {
  background: #789bde;
}
.icon-social.icon-twitter {
  background: #5bceff;
}
.icon-social.icon-twitter:hover {
  background: #8eddff;
}
.icon-social.icon-linkedin {
  background: #21a6d8;
}
.icon-social.icon-linkedin:hover {
  background: #49b9e3;
}
.icon-social.icon-google-plus {
  background: #dc422b;
}
.icon-social.icon-google-plus:hover {
  background: #e36957;
}
.icon-social.icon-pinterest {
  background: #cb2027;
}
.icon-social.icon-pinterest:hover {
  background: #e03e44;
}
.icon-social.icon-youtube {
  background: #ce332d;
}
.icon-social.icon-youtube:hover {
  background: #da5954;
}
.icon-social:hover {
  color: #fff;
}

ul > a:first-child  {
  padding-left: 25px;
text-decoration: inherit;
}
ul > a  {
  padding-left: 10px;
text-decoration: inherit;
}
